lxml==4.9.1
wikipedia==1.4.0
requests==2.9.1
tldextract==2.0.2
nltk==3.2.1
Unidecode==0.4.19
langdetect==1.0.7
jusText==2.2.0
PyPDF2==1.26.0
beautifulsoup4==4.6.0
readability_lxml==0.6.2
scikit_learn==0.19.0
tqdm==4.19.2
tabulate==0.8.2
